<!-- profile.html -->

{% extends 'base.html' %}

{% block content %}
<h2>Profile</h2>
<table>
    <tr>
        <th>Username</th>
        <td>{{ user.username }}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{ user.email }}</td>
    </tr>
    <tr>
        <th>Gender</th>
        <td>{{ user.gender }}</td>
    </tr>
    <tr>
        <th>Birth Date</th>
        <td>{{ user.birth_date }}</td>
    </tr>
</table>
<h3>Your URLs</h3>
<ul>
    {% for url in urls %}
        <li>{{ url.original_url }} -> {{ url.short_url }}</li>
    {% endfor %}
</ul>
{% endblock %}
